/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin: auto;
	
	font-size: 10pt;
	width: 95%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/img/admin/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

th.header { 
    background-image: url(/img/admin/small.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	border-bottom: 1px solid #ebebeb;
	vertical-align: top;
		
		
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/img/admin/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/img/admin/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
