/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/



/* Table of Content
==================================================
	#Colors and mixins
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face *

*/




/* #COLORS AND MIXINS
================================================== */

$blanc: #ffffff;
$redkinobs: #e2002e;
$griskinobs: #4c4c4c;
$blaukinobs: #3389d7;
$grisclar: #faf9f9;
$blaufutur: #87b2c1;
$taronja: #ff9c0a;
$redsuau: #fef0f2;


$background: #f4f4ee;
$marroclar:#ecece5;
$marrofosc: #4d4b46;
$marrofosc2: #52514d;
$blau: darken(#99d2dd,10%);
$preus1: #52514d;
$preus2: #4b4a47;
$groc: #eeea55;
$grocgitaxi:#c9c145;
$negre: #52514d;

$blanc2: #fbfbfb;
$semiblanc: #f6f6f6;
$button: #58585a;
$gris: #dadadb;
$marge-select:#58585a;
$bgadmin: #f6f5f1;
$blueadmin: #7db2da;

$lilapastel: #c9adad;
$blaupastel: #a4bfc1;


@import "settings";
@import "admin";
@import "tablesorter";

/* #Site Styles
================================================== */


body{}

div.bandform{ padding-top: 30px;}
.bandkinobs{  background-color: $redkinobs;}
.bandheader{ border-bottom: 1px solid $gris; padding: 15px 0px;}
.bandresum{ background-color: $blanc; padding: 15px 0px; margin-bottom: 30px;  border-bottom: 1px solid $gris; background-color: $grisclar;}
.bandformnen{ border-bottom: 1px solid $gris; padding: 25px 0px;}
.bandformtutor{ background-color: $redsuau; border-bottom: 1px solid $gris; padding: 20px 0px;}
.bandmessage{background-color: $grocgitaxi; padding: 20px 0px;}
.formnen{ border: 1px solid red;}
table#taularesum{ tfoot{ text-align: right; font-size: 2em;}}
.activitats{ margin-bottom: 20px; position: relative;


	
	h1{ background-color: $griskinobs; color: $blanc; font-size: 1.7em; padding: 0px 20px;}
}

.frontmodul{ margin-bottom: 20px; padding: 0px 0px 0px 10px; position: relative; overflow: auto; @include rounded; background-color: $grisclar; @include boxshadow-soft;}
.nensmodul{  float: right; width: 150px; padding: 6px 0px 0px 12px; height: 100%;}
.preumodul{ float: right; width: 70px; padding: 40px 10px; height: 100%; background-color: $taronja; color: $blanc; text-align: center;
	span.preu{ font-size: 3em; text-align: center;}
	span.simbol{}
	
}
.infomodul{ margin-top: 15px; float: left; p{ font-size: 1.2em;} }

ul.volsinscriure{
	li{ background-color: $blaupastel; display: inline-block; @include rounded; width: 100px; height: 80px; text-align: center; padding: 40px 10px 10px 10px; margin-right: 7px;
		
		span.nom{ font-size: 1.5em; font-weight: bold; color: $blanc;}
		span.edat{ color: $blanc;}
		em{ color: $blanc;}
		
	}
	
}

div.fitxamedica{ border: 1px dotted $blaukinobs; @include rounded; float: left;}

form.users{ background-color: $blaukinobs; @include rounded; @include boxshadow-soft; padding: 20px; h2{ color: $blanc;}}

a.three1, a.three2, a.three3{ text-decoration: none; color: $griskinobs; &:hover{ text-decoration: underline;}}

a.three1{ span{ color: red;}}
a.three2{ span{ color: green;}}
a.three3{ span{ color: blue;}}

a.red{ color: red;}

/* #Buttons
================================================== */

	a.submit {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  
	  	&:hover{
		  	
		  	color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; 
		  	
	  	}
	  
	  	
	  	&:active{
		  
		  border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */	
		  	
		  	
	  	}
}









/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/